/*-----------------[HEADER]------------------------*/

.banner span { background-image: url(images/red/slider-readmore-left.png); }
.banner span a { background-image: url(images/red/slider-readmore-right.png); color: #fff; text-shadow: 1px 1px 0px #aa0d0d; }
#logo {background: url(images/red/iscbanner.jpg)}
.headerbanr {font-family: 'Nobile', sans-serif;color:#aa0d0d;font-size: 52px;position: absolute;margin-top: -110px;margin-left: 84px;}
.beaderbrnsm {font-family: 'Nobile', sans-serif;color:#aa0d0d;font-size:22px;position: absolute;margin-top: -150px;margin-left: 60px;}

/*-----------------[NAV]------------------------*/

#navwrap { background: #a00a16; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwMGExNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzAwMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a00a16 0%, #7c0002 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a00a16), color-stop(100%,#7c0002)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a00a16 0%,#7c0002 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00a16', endColorstr='#7c0002',GradientType=0 ); /* IE6-8 */
}
.nav li ul { background-image: url(images/red/dropdown-bg.png); background-color: #aa0d0d;  border-left: 1px solid #aa0d0d; border-right: 1px solid #aa0d0d; border-bottom: 1px solid #aa0d0d; }
.nav li.current_page_item a, .nav li.current-menu-item a, .nav li.current-category-ancestor a, .nav li.current_page_ancestor a, .nav li.current-post-parent a { color: #aa0d0d;}
.nav li a { color: #fff; text-shadow: 1px 1px 0px #aa0d0d;  }
.nav li ul li ul { border-top: 1px solid #aa0d0d; }

/*-----------------[HOME]------------------------*/



/*-----------------[CONTENT]------------------------*/



/*-----------------[SIDEBAR]------------------------*/

 #formhrbox {
background: #a00a16; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwMGExNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzAwMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a00a16 0%, #7c0002 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a00a16), color-stop(100%,#7c0002)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a00a16 0%,#7c0002 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a00a16 0%,#7c0002 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00a16', endColorstr='#7c0002',GradientType=0 ); /* IE6-8 */}

/*-----------------[FOOTER]------------------------*/