/*-----------------[HEADER]------------------------*/

.banner span { background-image: url(images/green/slider-readmore-left.png); }
.banner span a { background-image: url(images/green/slider-readmore-right.png); color: #fff; text-shadow: 1px 1px 0px #237833; }
#logo {background: url(images/green/iscbanner.jpg)}
.headerbanr {font-family: 'Nobile', sans-serif;color:#237833;font-size: 52px;position: absolute;margin-top: -110px;margin-left: 84px;}
.beaderbrnsm {font-family: 'Nobile', sans-serif;color:#237833;font-size:22px;position: absolute;margin-top: -150px;margin-left: 60px;}

/*-----------------[NAV]------------------------*/

#navwrap { background: #1c8f44; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjOGY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTdmM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c8f44 0%, #197f3b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c8f44), color-stop(100%,#197f3b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c8f44 0%,#197f3b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8f44', endColorstr='#197f3b',GradientType=0 ); /* IE6-8 */
}
.nav li ul { background-image: url(images/green/dropdown-bg.png); background-color: #237833;  border-left: 1px solid #237833; border-right: 1px solid #237833; border-bottom: 1px solid #237833; }
.nav li.current_page_item a, .nav li.current-menu-item a, .nav li.current-category-ancestor a, .nav li.current_page_ancestor a, .nav li.current-post-parent a { color: #237833;}
.nav li a { color: #fff; text-shadow: 1px 1px 0px #237833;  }
.nav li ul li ul { border-top: 1px solid #237833; }

/*-----------------[HOME]------------------------*/



/*-----------------[CONTENT]------------------------*/



/*-----------------[SIDEBAR]------------------------*/

 #formhrbox {
background: #1c8f44; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjOGY0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTdmM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c8f44 0%, #197f3b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c8f44), color-stop(100%,#197f3b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c8f44 0%,#197f3b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c8f44 0%,#197f3b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8f44', endColorstr='#197f3b',GradientType=0 ); /* IE6-8 */}

/*-----------------[FOOTER]------------------------*/