#contentWrapper {float: none;width: auto;}
#sidebarWrapper {float: none;width: auto;margin: 20px 0;}
.lowerHeader {margin-bottom: 20px;}
#extraContainer4 {margin-bottom: 20px;}
#extraContainer5, #extraContainer6, #extraContainer7 {margin-top: 20px;margin-bottom: 10px;}