/* Style: Default */

body { background: #c4799c url(default/bg.jpg) repeat; }

#container {
	border:  1px solid #7f3357;
}

a:link, a:visited {
	color: #b53577;
}

.col-full  { background-color: #fcf2f9; }

#header {
	background: #be4e89 url(default/header_bg.jpg) repeat-x;
}

#sites ul li a span.button  {
	background: url(default/sites_icon/sitesoverlay.png) no-repeat center center;
}

#sites ul li.empty a span.button  {
	background: url(default/sites_icon/sitesempty.png) no-repeat left top;
}

#sites li:hover {
	background-color: #cd629c;
	background-image: none;
}

#sites ul li a  {
	border-left: 1px solid #a52769;
}

#content {
	background: #fcf2f9 url(default/sidebar_bg.jpg) repeat-y right top;
}

#main.fullwidth  { background-color: #fff; background-image: none; }

#top-nav {
	border-top: 1px solid #8f3f67;
	border-bottom: 1px solid #8f3f67;
	background-color:#ba648b;
}

.nav a:link,
.nav a:visited{color:#fff; text-shadow:1px 1px 1px #000;}
.nav a:hover{color:#fcd8e9;}
.nav li ul{ border:1px solid #e9d1dd; border-top:none}
.nav li ul li a:hover{color:#be4e88 !important;}

#sidebar_navigation {
	background: #fcf2f9 url(default/navigation_btm.jpg) no-repeat left bottom;
}

#sidebar_navigation ul {
	background: #fcf2f9 url(default/navigation_bg.jpg) repeat-y right top;
}

#sidebar_navigation li {
	background: transparent url(default/navigation_li_bg.jpg) repeat-x left bottom;
}

#sidebar_navigation a {
	color: #454545;
	text-shadow:1px 1px 1px #ffffff;
}

.post .title {
	border-bottom: 1px solid #ebc5da;
}

.post .entry blockquote {
	border-color: #cc4b90;
}

.archive_header {
	background-color: #f5dfe9;
	border-color: #EBC5DA;
}

.featured-title a:link,
.featured-title a:visited,
.title a:link,
.title a:visited {
	color: #292929;
}

.featured {
	background: transparent url(default/featured_btm.jpg) repeat-x left bottom;
}

.featured .comment-cloud a {
	background: transparent url(default/comment_crown.jpg) no-repeat;
}

.post-meta .comments a {
	background: transparent url(default/comment_flag.jpg) no-repeat;
}

.more_entries {
	border-top: 1px solid #ebc5da;
}

.more_entries .wp-pagenavi a:link,
.more_entries .wp-pagenavi a:visited { background: #ebcfe2;color: #666; border:1px solid #ebc5da;}
.more_entries .wp-pagenavi .current, 
.more_entries .wp-pagenavi .on,
.more_entries .wp-pagenavi a:hover { color: #fff;background: #cc4b90 !important; border-color: #a63d6e !important; }
.wp-pagenavi span.current {color:#fff !important;}

.widget {
	color: #b53577;
}

.widget h3 {
	color: #454545;
	text-shadow:1px 1px 1px #ffffff;
}

.widget input#s, .widget input.field  { background-color: #fff; border-color: #999; }
.widget input.submit  {background-color:#cc4b90; border-color:#a3356f; color:#fff}

#wp-calendar caption {
	text-shadow: 1px 1px 1px #000000;
	color: #fff;
}

#wp-calendar th,#wp-calendar td{ text-shadow: 1px 1px 1px #000000;
	color: #fff;}

#featured li{
	background: transparent url(default/featured_icon.png) no-repeat left top;
}

#featured span.post-meta {
	color: #b53577;
}

#comment-widget li {
	color: #fff;
}

#comment-widget li .body {
	color: #fff;
	text-shadow:1px 1px 1px #000;
}

#twitter_update_list a {
	color: #b53577;
}

#address {
	color: #282828;
}

#comment-widget li a {
	color: #e6a1c0;
}

#comments li.thread-even .comment-container {
	background-color: #fff;
	border: 2px solid #ddccd2;
}

#comments li.thread-odd .comment-container {
	background-color: #f2e5ea;
	border: 2px solid #ddccd2;
}

#comments li.thread-odd .comment-head .name a  { color: #a4597d; }

#comments h3{
	text-shadow:1px 1px 1px #ffffff;
}

#comments .comment-head .avatar img{ border:2px solid #ddccd2;}

#footer{
	background: transparent url(default/footer_bg.jpg) repeat-x left top;
}

#footer a {
	color: #edd1de;
}

#footer-wrap{
	background: transparent url(default/footer_wrap_bg.jpg) repeat left top;
}